# dependencies
node_modules/

# env
.env
.env*.local

# Vite
web-app/dist/
instagram-app/dist/
threads-app/dist/

# macOS
.DS_Store

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# typescript
*.tsbuildinfo
